@model taske2.ViewModel.PostVM

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container col-md-12 mb-5">
    <div class="col-md-12 mx-auto mt-5 ">
        <div style="font-family: 'Julius Sans One', sans-serif;"><h1>Create Post</h1></div>
        <hr />

        <div class="card shadow-lg custom-bg">
            <div class="card-body p-5 ">
                @using (Html.BeginForm("CreatePostPOST", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken();
                    <div class="form-group col-4">
                        @Html.LabelFor(model => model.Title, new { @class = "font-weight-bold" })
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { type = "text", @class = "form-control  form-control-sm", @placeholder = "Title", @required = "true" } })
                    </div>
                    <div class="form-group col-3">
                        @Html.LabelFor(model => model.End_time, new { @class = "font-weight-bold" })
                        @Html.EditorFor(model => model.End_time, new { htmlAttributes = new { type = "date", @class = "form-control  form-control-sm", @placeholder = "DD/MM/YYYY", @required = "true" } })
                    </div>
                    <div class="form-group col-9">
                        @Html.LabelFor(model => model.Description, new { @class = "font-weight-bold" })
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @id = "Address", @class = "form-control form-control-sm", @placeholder = "Description", @rows = "8", @cols = "30", @required = "true" } })
                    </div>
                    <div class="form-group col-9">
                        <input type="submit" value="Post" class="btn btn-primary float-right pr-5 pl-5">
                    </div>

                }
            </div>
        </div>

    </div>
</div>


@section scripts{

    <script type="text/javascript">
    </script>



}



